<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.9.0.5494" targetFramework="net472" />
  <package id="Fody" version="6.7.0" targetFramework="net472" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.21.12" targetFramework="net472" />
  <package id="Keras.NET" version="3.8.5" targetFramework="net472" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.149" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.11.1.33" targetFramework="net472" />
  <package id="Numpy.Bare.Mono" version="3.8.1.28" targetFramework="net472" />
  <package id="NumSharp" version="0.30.0" targetFramework="net472" />
  <package id="OneOf" version="3.0.263" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.7.2" targetFramework="net472" />
  <package id="Python.Runtime.Mono" version="3.7.1" targetFramework="net472" />
  <package id="pythonnet" version="3.0.4" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_linux" version="2.5.1" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.2" targetFramework="net472" />
  <package id="Razorvine.Pickle" version="1.4.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.150.0" targetFramework="net472" />
</packages>